body{
  background-color: #444;
  font-size: 20px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#textCanvas {
  position: absolute;
  top: 150px;
  left: 100px;
}
#info{
  position: absolute;
  left: 100px;
  top: 790px;
  padding: 5px;
  width: 100px;
  color: #ddd;
  font-size: 20px;
}
label{
  color: #ddd;
}

#gameCanvas {
  position: absolute;
  top: 150px;
  left: 100px;

}

#selects{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sel{
  margin: 10px;
}
#play{
  font-size: 18px;
}
